# Ignorar carpetas pesadas
legacy-media/
vanilla-media/

# Ignorar cualquier archivo grande por tipo
*.swf
*.flv
*.mp3
*.mp4
*.jpg
*.png
*.zip
*.tar.gz

# Ignorar otras cosas innecesarias
.DS_Store


